@model List<CoffeeTime.Models.Domain.Products>
@{
    ViewData["Title"] = "Invoice";
    Layout = "~/Views/Shared/_UserLayout2.cshtml";
}
<!-- Cart section -->
<div class="container">
    @if (Model.Count == 0)
    {
        <div class="row mx-1 mx-md-5 justify-content-center mt-5 py-5 CartBody shadow">
            <div class="col-12 col-md-8 ">
                <div class="row">
                    <div class="col-12 text-center pt-4 pb-3">
                        <i class="fas fa-regular fa-exclamation-circle " style="color: #d1d100; font-size: 3.2rem;"></i>
                    </div>
                    <div class="col-12 text-center">
                        <h3><strong>We can't find what you're looking for</strong></h3>
                        <a asp-action="OrderHistory" class="StoreLink"><strong><i class="fas fa-arrow-left pe-1"></i>Back To Order History</strong></a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
    <div class="row mx-1 mx-md-5 justify-content-center">
        <div class="d-flex justify-content-center mt-3">
            <a asp-action="Home" class="btn btn-outline-secondary mx-1 mx-md-3 px-2 invoice-btn">Back To Store</a>
            <a asp-action="OrderHistory" class="btn btn-outline-secondary mx-1 mx-md-3 px-2 invoice-btn">Order History</a>
        </div>
        <div class="col-12 col-md-8 p-3 p-lg-4 Invoice-Container shadow-lg mb-4 mt-3">
            <h2 class="text-center"><strong>Invoice</strong></h2>
            <ul class="list-group mb-2">
                <li class="d-flex justify-content-between mb-4">
                    <div>
                        <strong style="font-size: .9rem;">Number #@Model.FirstOrDefault().Order.Id</strong>
                    </div>
                    <strong class="mt-1" style="font-size: .75rem;">@Model.FirstOrDefault().Order.DateAndTime</strong>
                </li>
                @foreach (var item in Model)
                {
                <li class="d-flex justify-content-between border-bottom mb-3">
                    <div>
                        <h6 class="my-0">@item.Name</h6>
                        <small class="text-muted">Quantity @item.Quantity</small>
                    </div>
                    <span class="text-muted">@item.Price SAR</span>
                </li>
                }
                <li class="d-flex justify-content-between text-danger">
                    <strong>Total</strong>
                    <strong>@Model.FirstOrDefault().Order.TotalPrice SAR</strong>
                </li>

                <li class="d-flex justify-content-center mt-3">
                    <strong style="font-size: .8rem;">Thank you for choosing Coffee Time</strong>
                </li>
            </ul>
        </div>
    </div>
    }
</div>

